.btns{
	text-align: right;
}
.btn{
	width: 100px;
	height: 35px;
}
.filebtn{
	position: relative;
	width: 100px;
	height: 35px;
	text-align: center;
	overflow: hidden;
}
.filebtn input{
	width: 100px;
	height: 35px;
	position: absolute;
	left: 0;
	font-size: 0px;
	right: 0;
	top: 0;
	opacity: 0;
}